.search-filter {
  display: flex; 
  flex-wrap: wrap; /* This allows elements to wrap when the screen gets smaller */
  gap: 10px; /* Space between elements */
  
}


.search-box, 
.filter-box {
  flex: 1 1 200px; /* The form fields will be at least 200px wide and grow as space allows */
  min-width: 150px; /* Prevents them from shrinking too small */
  max-width: 400px;
}

/* Grid Layout */
.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-gap: 50px; 
  width: 100%;
}


.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  transition: transform 0.2s;
}

.product-card-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Product card styles */
.product-card {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  box-sizing: border-box;
  max-width: 150px; 
  height: 100%; /* This keeps the height as it is */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%; 
}

img[mat-card-image] {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
}

.product-price {
  margin-top: 10px; 
  font-size: 16px; 
  font-weight: bold; 
  color: #333; 
  text-align: center; 
}

.brush-font {
  font-family: 'Lucida Handwriting', cursive;
  font-size: 20px; /* Optional: Adjust font size */
  /* font-weight: bold;  */
  color: #333; /* Optional: You can customize the font color */
}

.brush-font-2 {
  font-family: 'Lucida Handwriting', cursive;
  font-size: 15px; /* Optional: Adjust font size */
  /* font-weight: bold;  */
  color: #424242; /* Optional: You can customize the font color */
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-left: 75%; */
}

.pagination-controls button {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination-controls span {
  
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px;
}


/* Responsive Design */
@media (max-width: 1200px) {

  .search-filter {
    justify-content: space-between; 
    gap: 10px;
  }

  .search-box, 
  .filter-box {
    flex: 1 1 45%; /* Each item takes about 45% of the available space */
  }

  .product-grid {
    grid-template-columns: repeat(5, 1fr); 
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 65%; */
  }

  .top-text-product-list {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 900px) {

  .search-filter {
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px;
  }

  .search-box, 
  .filter-box {
    flex: 1 1 100%; /* Make each input full width */
    max-width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr); 
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 50%; */
  }

  .top-text-product-list {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 600px) {

  .search-filter {
    flex-direction: column; 
    gap: 15px; /* Increase spacing between inputs */
    width: 100%; 
  }

  .search-box, 
  .filter-box {
    width: 100%; /* Full width on small screens */
    max-width: 100%; 
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 20%; */
  }

  .top-text-product-list {
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 480px) {

  .search-filter {
    flex-direction: column; 
    gap: 15px; 
    max-width: 100%; 
    width: 100%; 
    padding: 0 10px;
    padding-bottom: 15px; 
  }

  .search-box, 
  .filter-box {
    width: 100%; 
    max-width: 100%;
     
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; 
    width: 80%;
    margin: auto;
     /* Product card styles */
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 20%; */
  }

  .brush-font-2{
    display: none;
  }

  .product-card {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 75%;
    /* margin-left: 10px;  */
    box-sizing: border-box;
    /* max-width: 150px;  */
    /*height: 100%; /* This keeps the height as it is */
    position: relative; /* Ensures the child button can be positioned relative to this */
    } 
    
    .top-text-product-list {
      font-size: 15px;
      text-align: center;
    }

    .search-filter {
      max-width: 60%;
    }

}
