<div class="notification-bar" style="height: 50px; background-color: aqua;">
  <span><img src="assets/images/gift-box.png" style="height: 25px; width: 25px; margin-right: 10px; margin-top: 0; margin-bottom: 10px;" > Up to <strong>30% OFF</strong> all Displates including Textra </span>
  <span class="promo-code">Code : <strong>XMAS</strong></span>
  <span class="timer" [innerHTML]="notificationMessage"></span>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#e4e4e4; height: 65px;border-bottom:0.5px solid #939191;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" ><img src="assets/images/logo-anime-N.png" style="height: 50px; width: 100px;"></a>
      <form class="d-flex ms-auto">
        <!-- <button [routerLink]="['/favorite']" class="btn me-2" style="margin-right:35px; border-radius: none;"type="button"><img src="assets/images/Favorite.png" alt="New Products" style="height: 30px; width: 30px;"></button> -->

        <button [routerLink]="['/my-orders']" class="btn me-2" style="margin-right:35px; border-radius: none;"type="button"><img src="assets/images/my-orders-2.png" alt="New Products" style="height: 30px; width: 30px;"></button>

        <button [routerLink]="['/products']" class="btn me-2" style="margin-right:35px; border-radius: none;"type="button"><img src="assets/images/new-product.png" alt="New Products" style="height: 30px; width: 30px;"></button>
      <!-- Favorite Button with Count -->
      <button [routerLink]="['/favorite']" class="btn me-2" style="margin-right:35px; border-radius: none;" type="button">
        <div class="position-relative">
          <img src="assets/images/Favorite.png" alt="New Products" style="height: 30px; width: 30px;">
          <!-- Display the count on top of the favorite icon -->
          <span *ngIf="favoriteCount > 0" class="badge position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
            {{ favoriteCount }}
          </span>
        </div>
      </button>


        
        <button [routerLink]="['/cart']" class="btn" style="margin-right:35px; border-radius: none;" type="button" ><img src="assets/images/trolley.png" alt="My Cart" style="height: 30px; width: 30px;"></button>
      </form>
    </div>
</nav>
<!-- <div class="browse-options" style="height: 60px; border-bottom:0.5px solid #939191;">
</div> -->
 
<router-outlet></router-outlet>
<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- <div class="container" style="width: 100%;"> -->

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #ab9fee"
             >
      <!-- Left -->
      <div class="footer-message">
        <span>Get connected with us on social networks :</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white">
          <img src="assets/images/google.png">
        </a>
        <a href="" class="text-white">
          <img src="assets/images/linkedin.png" >
        </a>
        <a href="" class="text-white">
          <img src="assets/images/facebook.png" >
        </a>
        <a href="" class="text-white">
          <img src="assets/images/github.png" >
        </a>
      
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Anime One 8</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Bring Anime to Life — Unique Posters That Turn Your Walls into Masterpieces!
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <div class="nav-footer-products">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Products</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="#!" class="text-white">MDBootstrap</a>
                </p>
                <p>
                  <a href="#!" class="text-white">MDWordPress</a>
                </p>
                <p>
                  <a href="#!" class="text-white">BrandFlow</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Bootstrap Angular</a>
                </p>
              </div>
              </div>
          
          <!-- Grid column -->

          
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <div class="nav-footer-usefullinks">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            </div>
          
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <!-- <p><i class="fas fa-envelope mr-3"></i> info@example.com</p> -->
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2024 Copyright:
      <a class="text-white" href="https://anime-one-8.onrender.com/"
         >AnimeOne8.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- </div> -->
<!-- End of .container -->
