
  .container {
    padding-bottom: 104px;
  }
  .product-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .product-item {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .product-item:last-child {
    border-bottom: none;
  }
  
  .total-price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .customer-form-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  button[type="submit"] {
    margin-top: 15px;
  }

  .text-danger{
    margin-top: 5px;
    margin-left: 5px;
  }

  .btn-buy {
    margin-left: 90%;
    width: 100px;
    background-color:#fff15a;
    color: black;
    
  }
  
  .btn-buy:hover {
    background-color:  #f8e408;
  }

  .back-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #dedede;
    color: #090909;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .back-btn:hover {
    background-color: #7f7f80;
  }
  
  .back-icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }

  .top-btn-section{
    justify-content: space-between;
  }